*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
    height: 12vh;
    /* background-color: firebrick; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    border-bottom: 0.1px solid slategray ;
}
nav ul{
    display: flex;
    gap: 80px;
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: black;
    transition: 0.2s ease-in-out;
}
nav li a:hover{
    color: rgb(2, 2, 2);
    font-weight: 500;
}
.logo h1{
    font-weight: 800;

}
.btn button{
    padding: 12px 12px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(26, 21, 21);
    color: white;
    border: none;
    transition: 0.2s ease-in;
}
.btn button:hover{
    background-color: #413e3e;
}
main{
    width: 100%;
    height: 88vh;
}
.hero{
    display: flex;
}
.hero img{
    width: 110%;
    position: relative;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    position: relative;
    top: -35px;
    left: 6%
}
.info h1{
    font-size: 55px;
}
.info h2{
    color: #292929;
    letter-spacing: .2px;
}
.info p{
    color: #777;
    letter-spacing: .4px;
}
.btn2{
 display: flex;
 gap: 35px;
}
.btn2 button{
    padding: 15px 20px;
}
.about{
    width: 100%;
}
.about-me{
    margin: 5% 0%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-me h3{
    color: #777;
    font-size: 22px;
}
.about-me h2{
    font-size: 44px;
}
.about-me p{
    color : #777;
    font-size: 18px;
    width: 50%;
    margin: 0 auto;
}
.carts{
    display: flex;
    justify-content: space-evenly;
    margin: 75px 0px;
}
.cart{
    width: 340px;
    height: 200px;
    text-align: center;
    /* margin: 10px 0; */
    padding: 0px 15px;
}
.cart h3{
margin: 15px 0;
font-size: 22px;
}
.cart p{
    color: #777;
    font-size: 16px;
    letter-spacing: .2px;
}
.cart i{
    font-size: 30px;
}
.project{
    width: 100%;
    box-shadow: 2px 10px 15px rgba(0, 0, 0, 0.057);
}
.projects{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 6% 0;
}
.projects h2{
    font-size: 44px;
}
.projects p{
    color: #777;
    width: 40%;
    margin: 0 auto;
    font-size: 18px;
}
.carts2{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.cart2{
    width: 300px;
    height: 420px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart2 p{
color: #777;
}
.btn3 button{
padding: 8px 12px;
text-transform: uppercase;
}
.new button{
    background-color: white;
    color: black;
    transition: 0.4s all;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.5px;

}
.new button:hover{
    background-color: silver;
}

.my-resume{
    display: flex;
    width: 85%;
    margin: 0 auto;
}
.resume{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 8% 0;
}
.resume h1{
    font-size: 40px;
}
.resume p{
    width: 50%;
    /* font-size: 15px; */
    color: #777;
    letter-spacing: .2px;
}
.qulific{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 50%;
    margin: 8% 0;
}
.qulific p{
    color: #777;
    font-size: 16px;
    letter-spacing: .2px;
}
.qulific i{
    font-size: 35px;
}
.one{
    display: flex;
    gap: 15px;
    align-items: center;
}
.two{
    display: flex;
    gap: 15px;
    align-items: center;
}
.three{
    display: flex;
    align-items: center;
    gap: 15px;
}
.Clients{
    margin: 5% 0;
}
.headclient{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.headclient h1{
    font-size: 40px;
}
.headclient p{
    color: #777;
    width: 35%;
    margin: 0 auto;
    font-size: 18px;
    letter-spacing: .2px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
}
.infom{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 25%;
}
.infom p{
    color: #777;
}
.infoimg img{
    width: 70%;
    border-radius: 12px;
}
.user{
    display: flex;
    gap: 10px;
}
.user img{
    width: 40px;
    border-radius: 10px;
    opacity: 0.6;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
.user img:hover{
    opacity: 1;
}
.partner{
    margin: 10% 0;
}
.partn{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.partn h1{
    font-size: 40px;
}
.partn h3{
    color: #777;
}
.comp{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.comp img{
    width: 15%;
}
.contact-us{
    margin: 5% 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-us h1{
    font-size: 45px;
}
.contact-us p{
    font-size: 20px;
    width: 35%;
    margin: 0 auto;
    letter-spacing: 0.9px;
    color: #777;
}

.contact-cont{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
    /* max-width: 900px; */
    margin: 0 auto;
    width: 90%;
    border-radius: 10px;
    box-shadow: 2px 10px 15px rgba(0,0,0,0.1);
    margin-bottom: 2% 0/s;
}
.contact-us p{
    font-size: 16px;
}
.contact-info{
    background-color: rgb(26, 26, 26);
    color: #fff;
    padding: 40px 30px;
    border-radius: 10px;
}
.contact-info h2 {
    margin-bottom: 10px;
}
.contact-info h3{
    font-size: 16px;
}
.contact-info p {
    margin-bottom: 20px;
    font-size: 14px;
    color: #ccc;
}
.contact-info ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}
.contact-info i{
    
}

.contact-info li {
    margin-bottom: 15px;
    font-size: 15px;
}
.contact-form {
padding: 20px;
}

.row {
    display: flex;
    gap: 15px;
}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    flex: 1;
}
.input p{
    font-size: 16px;
}
.input label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;

}

.input input,
.input-group{
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 10px;
    font-size: 14px;
    outline: none;
    transition: 0.3s;
}
.input span{
    font-size: 16px;
    font-weight: 500;
}
.input textarea{
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 10px;
}
.input input:focus,
.input-group:focus {
    border-bottom: 2px solid #000;
}
.radio label, input{
    font-size: 16px;
}
.radio{
    display: flex;
    gap: 15px;
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}
.radio input[type="radio"]{
    accent-color: black;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    height: 12vh;
    margin-top: 10%;
    border: .1px solid rgba(0, 0, 0, 0.171);
    color: #777;
}
.links{
    display: flex;
    gap: 50px;
}
.links ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
}
.links li a{
    text-decoration: none;
    color: #777;
    transition: 0.2s ease-in-out;
}
.links li a:hover{
    color: rgb(48, 47, 47);
    font-weight: 500;
}
.flex-icon{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 19px 0;
}
.flex-icon i{
    font-size: 20px;
}